body{
 
    margin:0px;
    background-image: url('../images/bg.jpg');
    
}

.header{
    
    width:100%;
    background-image: url('../images/transparent1.png');
    height:50px;
    border-bottom: 1px solid #000;
    
}